.AbiSuite/
.ICEauthority
.Rhistory
.Xauthority
.adobe/
.bash_history
.bash_logout
.bash_profile
.bash_profile.swo
.bash_profile.swp
.bash_profile~
.bashrc
.bashrc.swp
.bashrc~
.cabal/
.cache/
.ccache/
.chess-save~
.com.zerog.registry.xml
.config/
.conkeror.mozdev.org/
.cytoscape/
.dbus/
.directory
.dropbox-dist/
.dropbox/
.esd_auth
.fontconfig/
.fonts.conf
.gconf/
.getmail/
.geworkbench/
.ghc/
.gimp-2.6/
.gmrun_history
.gnupg/
.grl-bookmarks
.grl-metadata-store
.grl-podcasts
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0-kde4
.histfile
.icedtea/
.imsettings.log
.java/
.kde/
.kderc
.lesshst
.libreoffice/
.local/
.macromedia/
.mozilla/
.opera/
.pentadactyl/
.pip/
.pki/
.psql_history
.pulse-cookie
.pulse/
.pylint.d/
.rstudio-desktop/
.sqlite_history
.ssh/
.subversion/
.thumbnails/
.vidyo/
.viminfo
.vimrc
.wine/
.xmonad/
.xscreensaver
.xscreensaver-getimage.cache
.xsession
.xsession-errors
.xsession-errors-:0
.xsession~
.zcompdump
Desktop/
Downloads/
Dropbox/
R/
__pycache__/
alex_gungir.bam
alex_gungir.bam.bai
alex_gungir.sam
alex_lincs_0buffer.bai
alex_lincs_0buffer.bam
alex_lincs_0buffer.sam
alex_lincs_100buffer.bai
alex_lincs_100buffer.bam
alex_lincs_100buffer.sam
blast/
builds/
database_dump.sql
database_dump_pseudocode.txt
docs/
emacs/
fastqc_reports/
go/
gst.txt
igv/
lncRNAs/
numbers.txt
pdf
pop_lincs_scratch.py
pylint.test
raws/
repos/
scratch
scratch.txt
scrot/
selaginella_paper.pdf
temp.py
Applications
.dmenu_cache
*.swp
.vim/backup
bin/cpc
bin/phylo-csf
