builds
.AbiSuite/
.Rhistory
.Skype/
.Xauthority
.adobe/
.backup.log
.backup.sh
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
.dbus/
.demo.py.swp
.dmenu_cache
.dropbox/
.emacs.d/
.fehbg
.fontconfig/
.gconf/
.ghc/
.gimp-2.8/
.googleearth/
.gstreamer-0.10/
.gtk-bookmarks
.guvcviewrc
.histfile
.ido.last
.java/
.kde4/
.lesshst
.lgames/
.local/
.macromedia/
.mozilla/
.pentadactyl/
.pip/
.pki/
.pulse-cookie
.pulse/
.pylint.d/
.raws.swp
.rstudio-desktop/
.sdcv_history
.session/
.sqlite_history
.ssh/
.subversion/
.swp
.vidyo/
.vim/backup/
.vim/bundle/
.viminfo
.wine/
.wmii/history.actions
.zcompdump
Downloads/
Dropbox/
R/
__pycache__/
aligner.py
books.csv
cpc_histogram.png
demo.py
docs/
dylan_et_al_review.txt
emacs/
gst.txt
raws/
repos/
temp.txt
tennis_sim.py
tex/
tmp.txt
weddingsongs.csv
.vim/sessions
*.swp
.wmii/history.progs
